<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- 이곳은 Console에 기록되는 오류를 설정합니다. -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
				<!-- 기록을 남기는 형식을 설정합니다. -->
			<param name="ConversionPattern"
				value="[%d{HH:mm:ss}] [%c{1}.%M()] [%p] [%l] %m %n"/>
		</layout>
	</appender>

<!-- 이곳은 c:/tmp/dailyout.log에 기록되는 오류를 설정합니다. -->
	
<appender name="dailyout" class="org.apache.log4j.DailyRollingFileAppender">
	<param name="file" value="c:/tmp/dailyout.log"/>
	<param name="Append" value="true"/>
	<param name="DatePattern" value="'.'yyMMdd"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%t> [%d{yyyy-MM-dd HH:mm:ss}] [%c{1}] [%L] [%p] %m %n"/>
	</layout>
</appender>

<appender name="rolling" class="org.apache.log4j.RollingFileAppender">
	<param name="file" value="c:/tmp/rolling.log.html"/>
	<param name="Append" value="true"/>
	<param name="MaxFileSize" value="10kb"/>
	<param name="MaxBackupIndex" value="1"/>
	<layout class="org.apache.log4j.PatternLayout"/>
</appender>

<logger name="jspbook_ch14">
	<level value="INFO"/>
	<appender-ref ref="dailyout"/>
</logger>

<logger name="org.apache.jsp.ch14">
	<level value="WARN"/>
	<appender-ref ref="rolling"/>
</logger>

<root>
	<!-- 이곳에서 레벨을 조정합니다. -->
	<level value ="TRACE"/> 
	<!--                             -->
	
	<appender-ref ref="stdout"/>
</root>
</log4j:configuration>
